.hello {
  width: 15rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  word-wrap: normal;
  font-size: 3rem;
}

.lema {
  width: 12rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: normal;
  font-size: 1rem;
}

